
<!-- ここからヘッダーエリア -->
<div class="welcom-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4" style="padding-top: 100px;">
        <h1>My Collection</h1>
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Emailを入力してください" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Passwordを入力してください" %>
              </div>
              <%= f.submit "新規登録", :class => "btn btn-lg btn-success btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ここからログインヘッダーエリア -->

<!-- ここからフッターのエリア -->
<footer style="padding-top: 20px;">
  <div class="container">
    <p class="copyright text-muted small">Copyright &copy; Your Name. All Rights Reserved</p>
  </div>
</footer>
<!-- ここまでフッターのエリア -->